.image-stack {
  width: 68px;
  height: 43px;
  position: relative;
  overflow: hidden; /* Hide overflowing content */
}

.image {
  width: 68px;
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease; 
}

.image:nth-child(2),
.image:nth-child(3) {
  transform: translateX(0); /* Position the images behind the first */
}

/* Animate the first image */
@keyframes moveFirstImage {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(10px); /* Move first image to the left */
  }
}

/* Animate the second and third images */
@keyframes moveSecondAndThirdImages {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-10px); /* Move second and third images to the right */
  }
}

/* Apply animation to the first image */
.image:nth-child(1) {
  animation: moveFirstImage 3s linear infinite; /* Animate the first image */
}

/* Apply animation to the second and third images */
.image:nth-child(2),
.image:nth-child(3) {
  animation: moveSecondAndThirdImages 3s linear infinite; /* Animate the second and third images */
}

/* Add hover effect to stop animation on hover */
.image-stack:hover .image {
  animation-play-state: paused;
}



body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 10px; /* Adjust as needed */
  }
}

/* .dark-div {
  transition: width 0.3s ease;
}

.explore-text {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.w-full:hover .dark-div {
  width: 420px;
}

.w-full:hover .explore-text {
  opacity: 1;
  transform: translateX(0);
} */

.faq-card:hover {
  background-color: rgba(232, 232, 232, 1);
  font-weight: 600;
}


