.image-stack {
  width: 68px;
  height: 43px;
  position: relative;
  overflow: hidden; 
}

.image {
  width: 68px;
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease; 
}

.image:nth-child(2),
.image:nth-child(3) {
  transform: translateX(0); 
}

/* Animate the first image */
@keyframes moveFirstImage {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(10px); 
  }
}

/* Animate the second and third images */
@keyframes moveSecondAndThirdImages {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-10px); 
  }
}

/* Apply animation to the first image */
.image:nth-child(1) {
  animation: moveFirstImage 3s linear infinite; 
}

/* Apply animation to the second and third images */
.image:nth-child(2),
.image:nth-child(3) {
  animation: moveSecondAndThirdImages 3s linear infinite; 
}

/* Add hover effect to stop animation on hover */
.image-stack:hover .image {
  animation-play-state: paused;
}



body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 10px; 
  }
}

.hidden {
  display: none;
}

.showButton {
  position: fixed;
  background-color: rgba(82, 90, 160, 1);
  border-radius: 50%;
  padding: 0.25rem;
  right: -100px;
  bottom: 50px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  transform: translateX(-150px);
  animation: slideLeft 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-150px);
  }
}

.faq-card:hover {
  background-color: rgba(232, 232, 232, 1);
  font-weight: 600;
}

.close-icon:hover {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
